apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # El servidor de producción de ACME de Let's Encrypt
    server: https://acme-v02.api.letsencrypt.org/directory
    # Correo electrónico utilizado para el registro y recuperación de contactos
    # ¡CAMBIA ESTO POR TU EMAIL REAL!
    email: davidecazaran@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx
